# you shouldn't commit these into source control

# Python
__pycache__/
*.pyc
*.pkl
.DS_Store

# Notebooks
.ipynb_checkpoints/

# Virtual environments
venv/

# dbt build/output
target/
dbt_packages/
snapshots/
analyses/
tests/

# Project outputs
instacart_model.pkl
predicted_reorders.csv
orders.csv
order_products__prior.csv
instacart_training_input.csv

# Data files
original_files/order_products__prior.csv
original_files/orders.csv
original_files/predicted_reorders.csv
original_files/instacart_training_input.csv


.env
original_files/instacart_training_input.csv
