# you shouldn't commit these into source control

# Python
__pycache__/
*.pyc
*.pkl
.DS_Store

# Notebooks
.ipynb_checkpoints/

# Virtual environments
venv/

# dbt build/output
target/
dbt_packages/
snapshots/
analyses/
tests/

# Project outputs
instacart_model.pkl
predicted_reorders.csv

